<div class="container">

  <div class="example">
    <button mat-raised-button matTooltip="Info about the action" aria-label="Button that displays a tooltip when focused or hovered over">
      Action
    </button>
  </div>

  <div class="example">
    <mat-form-field class="example-user-input">
      <mat-select placeholder="Tooltip position" [formControl]="position">
        <mat-option *ngFor="let positionOption of positionOptions" [value]="positionOption">
          {{positionOption}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button matTooltip="Info about the action" [matTooltipPosition]="position.value" aria-label="Button that displays a tooltip in various positions">
      Action
    </button>
  </div>

  <div class="example">
    <button mat-raised-button matTooltip="Info about the action" matTooltipClass="example-tooltip-red" aria-label="Button that shows a red tooltip"
      class="example-button">
      Red-tooltip Action
    </button>
  </div>

  <div class="example">
    <mat-form-field class="example-user-input">
      <input matInput placeholder="Show delay (milliseconds)" type="number" aria-label="Adds a delay between hovering over the button and displaying the tooltip"
        [formControl]="showDelay">
    </mat-form-field>
    <mat-form-field class="example-user-input-2">
      <input matInput placeholder="Hide delay (milliseconds)" type="number" aria-label="Adds a delay between hovering away from the button and hiding the tooltip"
        [formControl]="hideDelay">
    </mat-form-field>
    <button mat-raised-button matTooltip="Info about the action" [matTooltipShowDelay]="showDelay.value"
      [matTooltipHideDelay]="hideDelay.value" aria-label="Button that displays a tooltip with a customized delay in showing and hiding">
      Action
    </button>
  </div>

  <div class="example">
    <button mat-raised-button matTooltip="Info about the action" [matTooltipDisabled]="disabled.value" aria-label="Button that displays a tooltip that can be programatically disabled">
      Action
    </button>
    <mat-checkbox [formControl]="disabled" class="example-disabled-checkbox">
      Tooltip disabled
    </mat-checkbox>
  </div>

  <div class="example">
    <mat-form-field class="example-user-input-3">
      <input matInput placeholder="Tooltip message" [formControl]="message">
    </mat-form-field>
    <button mat-raised-button [matTooltip]="message.value" aria-label="Button that displays a tooltip with a custom message">
      Action
    </button>
  </div>

</div>