.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
}

.example {
    width: 100%;
    padding: 50px;
    border: solid;
    border-width: 1px;
    border-color: black;
    margin: 20px 20px 0 20px;
}

.example:last-of-type {
    margin: 20px;
}

.example-panel-red.mat-select-panel {
    background: rgba(255, 0, 0, 0.5);
}
  
.example-panel-green.mat-select-panel {
    background: rgba(0, 255, 0, 0.5);
}
  
.example-panel-blue.mat-select-panel {
    background: rgba(0, 0, 255, 0.5);
}