<mat-sidenav-container class="fullviewport">

  <mat-sidenav #menu>
    <nav>
      <a routerLink="/icons" (click)="toggleMenu()">
        <button mat-raised-button color="primary">Icons</button>
      </a>
      <a routerLink="/tooltips" (click)="toggleMenu()">
        <button mat-raised-button color="primary">Tooltips</button>
      </a>
      <a routerLink="/checkboxes" (click)="toggleMenu()">
        <button mat-raised-button color="primary">Checkboxes</button>
      </a>
      <a routerLink="/snackbar" (click)="toggleMenu()">
        <button mat-raised-button color="primary">Snackbar</button>
      </a>
      <a routerLink="/expansion" (click)="toggleMenu()">
        <button mat-raised-button color="primary">Expansion Panel</button>
      </a>
      <a routerLink="/card" (click)="toggleMenu()">
        <button mat-raised-button color="primary">Card</button>
      </a>
      <a routerLink="/gridlist" (click)="toggleMenu()">
        <button mat-raised-button color="primary">Grid List</button>
      </a>
      <a routerLink="/stepper" (click)="toggleMenu()">
        <button mat-raised-button color="primary">Stepper</button>
      </a>
      <a routerLink="/tabs" (click)="toggleMenu()">
        <button mat-raised-button color="primary">Tabs</button>
      </a>
      <a routerLink="/tree" (click)="toggleMenu()">
        <button mat-raised-button color="primary">Tree</button>
      </a>
      <a routerLink="/list" (click)="toggleMenu()">
        <button mat-raised-button color="primary">List</button>
      </a>
      <a routerLink="/menu" (click)="toggleMenu()">
        <button mat-raised-button color="primary">Menu</button>
      </a>
      <a routerLink="/sidenav" (click)="toggleMenu()">
        <button mat-raised-button color="primary">Sidenav</button>
      </a>
      <a routerLink="/toolbar" (click)="toggleMenu()">
        <button mat-raised-button color="primary">Toolbar</button>
      </a>
      <a routerLink="/bottomsheet" (click)="toggleMenu()">
        <button mat-raised-button color="primary">Bottom Sheet</button>
      </a>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="appcontainer">

      <header>
        <mat-toolbar color="accent">
          <button mat-icon-button (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
          </button>
        </mat-toolbar>
      </header>

      <main>
        <router-outlet></router-outlet>
      </main>

      <footer>
        <mat-toolbar color="accent">
          <button mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
        </mat-toolbar>
      </footer>

    </div>
  </mat-sidenav-content>

</mat-sidenav-container>