<mat-sidenav-container class="fullviewport">

  <mat-sidenav #menu>
    QWERTYU
  </mat-sidenav>

  <mat-sidenav-content style="height: 100vh;">
    <div class="appcontainer">

      <header>
        <mat-toolbar color="accent">
          <button mat-icon-button (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
          <h1>Top Trend</h1>
        </mat-toolbar>
      </header>

      <main>
        ASDASDASDASDASDASDASD
        <br>
        ZXXC
        <br>
        <div style="width: 50px; height: 1000px; background-color: tomato">
        </div>
        <div style="width: 1000px; height: 50px; background-color: brown"></div>
        SFGSG
      </main>

      <footer>
        <mat-toolbar color="accent">
          <button mat-icon-button (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
          </button>
        </mat-toolbar>
      </footer>

    </div>
  </mat-sidenav-content>

</mat-sidenav-container>