<mat-sidenav-container class="fullviewport">

  <mat-sidenav #menu>
    <nav>
      <a routerLink="/icons" (click)="toggleMenu()">
        <button mat-raised-button color="primary">Icons</button>
      </a>
      <a routerLink="/tooltips" (click)="toggleMenu()">
        <button mat-raised-button color="primary">Tooltips</button>
      </a>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="appcontainer">

      <header>
        <mat-toolbar color="accent">
          <button mat-icon-button (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
          </button>
        </mat-toolbar>
      </header>

      <main>
        <router-outlet></router-outlet>
      </main>

      <footer>
        <mat-toolbar color="accent">
          <button mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
        </mat-toolbar>
      </footer>

    </div>
  </mat-sidenav-content>

</mat-sidenav-container>